/.env
/.env.backup
/.env.production
/auth.json

/nw-includes/.env
/nw-includes/.env.backup
/nw-includes/.env.production
/nw-includes/vendor/
/nw-includes/node_modules/
/nw-includes/public/build/
/nw-includes/public/hot
/nw-includes/public/storage
/nw-includes/database/*.sqlite
/nw-includes/database/*.sqlite-*
/nw-includes/storage/*
!/nw-includes/storage/app/
!/nw-includes/storage/framework/
!/nw-includes/storage/logs/
!/nw-includes/storage/**/.gitignore
/nw-includes/bootstrap/cache/*.php
!/nw-includes/bootstrap/cache/.gitignore
/nw-includes/.phpunit.cache/
/nw-includes/.phpunit.result.cache

/nw-content/uploads/*
!/nw-content/uploads/.gitkeep

/node_modules/
/npm-debug.log
/yarn-error.log
/.fleet/
/.idea/
/.nova/
/.vscode/
/.zed/

/AGENTS_INSTRUCTIONS.md
/.superdesign